.app {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.app_title {
  width: 100%;
  height: 130px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title_question {
  color: black;
  font-size: 30px;
}
.title_questionlist {
  color: black;
  font-size: 15px;
  text-decoration: underline;
}
.app_b1 {
  width: 37%;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app1 {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}
.app_b2 {
  width: 25%;
  height: 500px;
  background-color: white;
  display: flex;

  flex-direction: column;
  align-items: center;
  border-left: grey 2px dashed;
  border-right: grey 2px dashed;
}
.b2_question {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.b2_button1 {
  background-color: #002733;
  color: white;
  height: 50px;
  width: 130px;
  border-radius: 20px;
}
.b2_button2 {
  background-color: white;
  color: #002733;
  height: 50px;
  width: 130px;
  border-radius: 0 20px 20px 0;
  border-left: hidden;
  border-bottom: 1px grey ridge;
  border-top: 1px grey ridge;
}
.yespercent {
  font-size: 50px;
  color: #a30090;
}
.nopercent {
  font-size: 35px;
  color: grey;
}
.app_b3 {
  width: 30%;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app_b4 {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.button1 {
  height: 60px;
  width: 150px;
  background-color: #ecf0f1;
  box-sizing: border-box;
  border-radius: 10px 0 10px 0;
}
.app {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.app_title {
  width: 100%;
  height: 130px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title_question {
  color: black;
  font-size: 30px;
}
.title_questionlist {
  color: black;
  font-size: 15px;
  text-decoration: underline;
}
.app1 {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.app1_b2 {
  width: 100%;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: grey 2px dashed;
  border-right: grey 2px dashed;
}
.b2_question {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.b2_button1 {
  background-color: #002733;
  color: white;
  height: 50px;
  width: 130px;
  border-radius: 20px;
}
.b2_button2 {
  background-color: white;
  color: #002733;
  height: 50px;
  width: 130px;
  border-radius: 0 20px 20px 0;
  border-left: hidden;
  border-bottom: 1px grey ridge;
  border-top: 1px grey ridge;
}
.yespercent1 {
  font-size: 40px;
  color: #a30090;
}
.nopercent1 {
  font-size: 40px;
  color: grey;
}
