.footer1 {
  height: 60px;
  display: flex;
  background-color: #002733;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: 0;
  flex: 1;
  z-index: 100;
}

.footer1_logo {
  width: 100px;
  object-fit: contain;
  margin: 0px 20px;
  margin-top: 18px;
}

.footer1_navbar {
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer1_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  align-items: center;
  justify-content: center;
}

.footer1_option1 {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
