.footer {
  height: 60px;
  display: flex;
  background-color: #023f52;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  top: 0;
  flex: 1;
  z-index: 100;
}

.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0px 20px;
  margin-top: 18px;
}

.footer_navbar {
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  align-items: center;
  justify-content: space-around;
}
.footer_button {
  background-color: #023f52;
  height: 30px;
  color: white;
  width: 60px;
  border-bottom-color: white;
  border-color: white;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
}
