.header1 {
  height: 60px;
  display: flex;
  background-color: #015c78;
  flex-direction: column;
  justify-content: center;
  position: static;
  top: 0;
  flex: 1;
  z-index: 100;
  font-size: 10px;
  font-weight: 10px;
}

.header1_navbar {
  display: flex;

  align-items: center;
  justify-items: center;
}
.header1_logo {
  width: 100px;
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;
}
.header1_option {
  display: flex;
  flex-direction: column;

  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.header1_option1 {
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 35px;
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.navbar1_button {
  background-color: #023f52;
  height: 30px;
  color: white;
  width: 70px;
  border-bottom-color: white;
  border-color: white;

  border-radius: 20px;
}

.header {
  height: 60px;
  display: flex;
  background-color: #015c78;
  flex-direction: column-reverse;
  justify-content: center;
  position: sticky;
  top: 0;
  flex: 1;
  z-index: 100;
}

.header_navbar {
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header_logo {
  width: 100px;
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  align-items: center;
  justify-content: space-around;
}
.navbar_button {
  background-color: #023f52;
  height: 30px;
  color: white;
  width: 60px;
  border-bottom-color: white;
  border-color: white;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
}
