body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.content {
  height: 750px;
  width: 100%;
  display: flex;
  position: sticky;
}

.content_app {
  width: 82%;
}

.content_nav {
  width: 18%;
  height: 750px;
  color: black;
  flex: 1;
  background-color: #fafcf7;
  position: sticky;
}
.content1 {
  height: 600px;
  width: 100%;
  display: flex;
  position: sticky;
  background-color: white;
}

.content_app1 {
  width: 100%;
  height: 700px;
  color: black;
  flex: 1;
}
