.nav {
  display: flex;
  height: fit-content;
  flex: 1;
  justify-content: space-between;
  border-bottom: 1px #7f8c8d ridge;
  background-color: #f8f9f9;
}
.nav_right {
  font-family: "Times New Roman", Times, serif;
  flex-direction: row;
  align-items: flex-start;
  font-size: 18px;
  padding-left: 15px;
}

.nav_left {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  flex-direction: row;
  align-items: flex-end;
  padding-right: 15px;
}
.button {
  height: 40px;
  width: 90px;
  background-color: white;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
